/*====================
=======Structure======
======================*/

body{
    background-color: rgb(41, 41, 47);
    display:flex; 
    flex-direction:column;    
    margin: 1em auto;
    min-height: 100vh;
    width: 100%;
}
header{
    display: flex;
    height: 10vh;
    justify-content: start;
}
main{
    margin: 1em 0;
    width: 100%;
}
footer{
    margin-top: auto; 
    width: 100%;
}
/*====================
======Typography======
======================*/

h1{
    color:hsl(0, 20%, 95%)
}

h2, h3, h4, h5, h6, a, p{
    color: hsl(0, 0%, 100%);
}

h1, h2, h3, h4 {
    font-family: "Ubuntu";
}

h5, h6 {
    font-family: "Ubuntu Condensed";
}

a, td, p, button{
    font-family: "Ubuntu";
}

h1 {
    font-size: 5em;
    font-weight: 600;
    text-decoration: none;
}

h2 {
    font-size: 2em;
    font-weight: 600;
    text-decoration: none;
}

h4 {
    font-weight: 600;
    text-decoration: none;
}

a {
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    font-weight: 600;
    text-decoration: none;
    transition: 300ms;
}

a:focus, a:hover {
    outline: none;
    outline-offset: 0;
    text-decoration: none;
}
/*====================
========Image=========
======================*/
img {
    max-width: 100%;
}
/*====================
========Logo=========
======================*/
.logo{
    width: 4%;
}

.logo svg{
    height: 4rem;
    width: 4rem;
}

.titulo {
    text-align: center;
    margin: auto;
}



/*====================
======Portada=========
======================*/

.portada{
    position: relative;
}

.portada-image, .portada-titulo{
    position: absolute;
}

.portada-image{
    z-index: 1000;
}

.portada-titulo{
    background-color: hsla(0, 0%, 0%, 0.589);
    padding: 1em 3em;
    top: 40%;
    left: 40%;
    z-index: 1001;
}

/*====================
======Destacados======
======================*/

.destacados{
    margin: 0 auto;
    width: 90%;
}

.destacados-titulo h2{
    text-align: center;
}

.destacados-fichas{
    display: flex;
    justify-content: space-between;
}

.destacados-ficha{
    width: 25%;
}

.destacados-ficha-imagen{
    width: 100%;
}

.destacados-ficha-titulo{
    width: 100%;
}

.destacados-ficha-titulo h3{
    text-align: center;
}

.letra{
    font-size: xx-large;
}
/*====================
======Presentacion====
======================*/


.presentacion-imagen img{
    display:block;
    margin:auto;
    

    
    
}

@media (max-width:479px) {

    header{
            height: max-content;
        }
    footer{
        height: max-content;
    }

    h1 {
        font-size: 2em;
    }

    p {
        font-size: 1em;
        height: 1em;
        width: 1em;
        font-size:small;
        width: auto;
        margin: auto;
    }

    .logo{
        height: max-content;
    }

    .logo svg{
        height: 2em;
        width: 2em;
    }
    
    .portada-titulo{
        left: 25%;
    }

    .portada-titulo h2{
        font-size: 1em;
    }

    .destacados-titulo h2{
        font-size: 2em;
    }
    
    .destacados-fichas{
        flex-direction: column; 
        width: 100%;
    }

    .destacados-ficha{
        margin: 1em 0;
        width: 100%;
    }
    
    .destacados-ficha-imagen{
        background: tomato;
    }

    .destacados-ficha-titulo{
        margin: 1em 0;
    }


    .destacados-ficha-titulo h3{
        text-align:center;
    }
    .logo{
        width: 10%;
    }

    .presentacion{
        width: 100%;
        margin: 10em,0;
    }

    .presentacion-imagen {
        text-align: center;
        background-color:aqua;
        margin: auto;
        
        
    }
    
    .

}